body {
    background-color: gainsboro;
}

div#interface {
    width: auto;
    padding: 1px;
}

div#interface h3{
    position: relative;
    left: 120px;
    padding: 13px;
}

div#interface h4{
    padding: 13px;
}

div#interface h5{
    padding: 13px;
}

header#cabecalho {
    height: 150px;
    background-color:  #FFDE59;
}

header#cabecalho h1 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 35pt;
    text-align: center;
    padding-top: 40px;
}

header#cabecalho img#icone {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
}

nav#barra button {
    position: absolute;
    background-color: dimgray;
    border-color: black;
    top: 15px;
    right: 25px;
}

nav#barra input {
    position: absolute;
    border-radius: 7px;
    padding: 11px;
    height: 35px;
    top: 17px;
    right: 70px;
}

nav#ordem input{
    position: absolute;
    padding-left: 11px;
    background-color: #FFDE59;
    border-radius: 8px;
    left: 310px;
    top: 380px;
}

nav#sobras input{
    position: absolute;
    padding-left: 11px;
    background-color: #FFDE59;
    border-radius: 8px;
    left: 150px;
    top: 443px;
}

nav#total input{
    position: absolute;
    padding-left: 11px;
    left: 600px;
    top: 570px;
}

input#numero {
    position: absolute;
    color: black;
    border: 2px;
    border-radius: 8px;
    padding-left: 11px;
    left: 95px;
}

button#analisar {
    position: relative;
    background-color: #979393;
    border: black;
    left: 90px;
}

section#corpo {
    display: block;
    float: left;
    width: 800px;
    padding-left: 50px;
}

aside#lateral {
    position: absolute;
    margin-top: 50px;
    right: 50px;
} 

footer#rodape {
    clear: both;
    height: 50px;
    background-color: #FFDE59;
}

footer#rodape p{
    text-align: center;
    padding-top: 11px;
}